/**----------------------MAIN---------------------**/

* {
    margin: 0;
    padding: 0;
    color: black;
}

a {
    font-size: 20px;
}

html {
    background-color: #F9FCFE;
    font-family: 'Roboto', sans-serif;
}

h1 {
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 35px;
    font-size: 50px;
    color: #23286B;
    background-color: #fcd303;
}

/**----------------------TASK_1---------------------**/
.content_main {
    margin: 0 auto;
    width: 900px;
    box-shadow: 0px 3px 150px rgba(55, 105, 151, 0.3);
}

p {
    margin: 20px;
    text-indent: 20px;
    font-size: 20px;
}

.evens p:first-child {
    background-color: pink;
}

.evens p:last-child {
    text-transform: uppercase;
}

.evens :nth-child(even) {
    border: 2px solid purple;
}

/**----------------------TASK_2---------------------**/
a.first_link {
    color: grey;
}

a.first_link:visited {
    color: green;
}

a.first_link:hover {
    color: red;
    transition: .8s;
}

a.first_link:active {
    color: purple;
}

a.second_link {
    display: flex;
    text-decoration: none;
    margin-bottom: 50px;
}

a.second_link:hover {
    text-decoration: underline;
}

a.third_link {
    display: flex;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-color: #5AA5FF;
    margin-bottom: 50px;
}

/**----------------------TASK_3---------------------**/
table {
    border: 1px solid black;
    width: 500px;
    height: 300px;
}

td {
    text-align: center;
}

caption {
    caption-side: top;
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    font-weight: 900;
}

.second-table tr:nth-child(even) {
    background-color: grey;
}

.container_table_two {
    display: flex;
    justify-content: flex-start;
}

.containter_table_second {
    width: 300px;
    overflow: scroll;
}

.table-fix-second td {
    width: 200px;
    border: 1px solid black;
}

.table_fix_first {
    width: 200px;
}

/**----------------------TASK_4---------------------**/
.img1 {
    background-image: url(img/20873637965c351734c40a3_medium.jpg);
    width: 200px;
    height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 150px rgba(55, 105, 151, 0.3);
    border-radius: 10px;
    margin-bottom: 50px;
    box-shadow: inset 0px -7px 0px 0px rgba(0, 0, 0, 0.6);
}

.img2 {
    width: 200px;
    height: 200px;
    background-color: black;
}


.img2_circle {
    background-image: url(img/20873637965c351734c40a3_medium.jpg);
    width: 200px;
    height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;
    -webkit-box-shadow: inset 0px 0px 19px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 19px 0px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 19px 0px rgba(0, 0, 0, 0.75);
}

.img3 {
    overflow: hidden;
    background-color: grey;
    background-image: url(img/20873637965c351734c40a3_medium.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    display: block;
}

.img3 {
    width: 200px;
    height: 200px;
    background-image: url(img/20873637965c351734c40a3_medium.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    position: absolute;
    width: 200px;
    height: 200px;
    padding: 12px;
    margin-left: 60px;
    margin-top: 160px;
}

.img3:after {
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    pointer-events: all;
    content: '';
    width: 40px;
    height: 20px;
    border: 1px solid #998e16;
    background-color: #ebda1a;
    opacity: .5;
}

.img4:after {
    content: '';
    background-color: grey;
    background-image: url(img/20873637965c351734c40a3_medium.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    display: block;
    border-radius: 100%;
    -webkit-box-shadow: inset 0px 0px 47px 30px rgba(255, 255, 255, 1);
    -moz-box-shadow: inset 0px 0px 47px 30px rgba(255, 255, 255, 1);
    box-shadow: inset 0px 0px 47px 30px rgba(255, 255, 255, 1);
}

.image {
    display: flex;
    justify-content: space-between;
}

/**--------------------TASK 5--------------------**/
.content_task {
    display: flex;
    justify-content: center;
}

.block {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    box-shadow: 0px 3px 150px rgba(55, 105, 151, 0.3);
    width: 300px;
    height: 300px;
}

h2 {
    margin-top: 10px;
}

h3 {
    font-weight: 400;
    font-size: 14px;
}

.img {
    width: 150px;
    height: 150px;
    background-image: url(img/854937a01143f2fd65aa896c12120691.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

/**----------------------TASK_6---------------------**/


.comics {
    margin: 0 auto;
    width: 800px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 3px 150px rgba(55, 105, 151, 0.3);
}

.block_comics {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 250px;
    height: 177px;
    border: 2px solid black;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

.page {
    font-family: 'Mansalva', cursive;
    display: flex;
    width: 50px;
    height: 30px;
    background: #fff;
    border: 2px solid black;
}


.first {
    background-image: url(img/1.jpg);
}

.second {
    background-image: url(img/2.jpg);
}

.third {
    background-image: url(img/3.jpg);
}

.fourth {
    background-image: url(img/4.jpg);
}

.fifth {
    background-image: url(img/5.jpg);
}

.sixth {
    background-image: url(img/6.jpg);
}

/**----------------------TASK_7---------------------**/

.content_task_7 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 400px;
    height: 200px;
    box-shadow: 0px 4px 150px rgba(55, 105, 151, 0.3);
}

.samsol {
    display: flex;
    width: 200px;
    height: 100px;
    background-image: url(img/logo2000.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 150px rgba(55, 105, 151, 0.3);
}

/**----------------------TASK_8---------------------**/
.button {
    text-align: center;
    width: 200px;
    height: 50px;
    color: white;
    font-size: 25px;
    background-color: #54356B;
    padding: 10px;
}

.button:hover {
    cursor: pointer;
    transition: .5s;
    background-color: #5AA5FF;
    transform: rotate(360deg);
}