/**----------------------MAIN---------------------**/

* {
    margin: 0;
    padding: 0;
    color: black;
}

a {
    font-size: 20px;
}

html {
    background-color: #F9FCFE;
    font-family: 'Roboto', sans-serif;
}

h1 {
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 35px;
    font-size: 50px;
    color: #23286B;
    background-color: #fcd303;
}

/**----------------------TASK_7---------------------**/

.content_task_7 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 400px;
    height: 200px;
    box-shadow: 0px 4px 150px rgba(55, 105, 151, 0.3);
}

.samsol {
    display: flex;
    width: 200px;
    height: 100px;
    background-image: url(img/logo2000.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 150px rgba(55, 105, 151, 0.3);
}